apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ .Values.db.credentials.secretName }}
  labels:
    app: oneevent
    component: database
data:
  POSTGRES_DB: {{ .Values.db.credentials.database }}
  POSTGRES_USER: {{ .Values.db.credentials.username }}
  POSTGRES_PASSWORD: {{ .Values.db.credentials.password }}
