apiVersion: apps/v1
kind: Deployment
metadata:
  name: database
spec:
  replicas: 1
  selector:
    matchLabels:
      app: oneevent
      component: database
  template:
    metadata:
      labels:
        app: oneevent
        component: database
    spec:
      containers:
        - name: postgresdb
          image: postgres
          ports:
            - containerPort: 5432
          envFrom:
            - configMapRef:
                name: {{ .Values.db.credentials.secretName }}
      {{- if .Values.db.persistence.enabled }}
          volumeMounts:
            - mountPath: /var/lib/postgres/data
              name: db-data
      volumes:
        - name: db-data
          persistentVolumeClaim:
            claimName: {{ .Values.db.persistence.pvcName }}
      {{- end }}

{{- if and .Values.db.persistence.enabled .Values.db.persistence.createPvc }}
---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: {{ .Values.db.persistence.pvcName }}
  labels:
    app: oneevent
    component: database
spec:
  storageClassName: {{ .Values.db.persistence.storageClassName }}
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: {{ .Values.db.persistence.storage }}
{{- end }}

---
apiVersion: v1
kind: Service
metadata:
  name: postgres
  labels:
    app: oneevent
    component: database
spec:
  type: NodePort
  ports:
    - port: 5432
  selector:
    app: oneevent
    component: database
