{{ with .Values.webserver }}
apiVersion: apps/v1
kind: Deployment
metadata:
  name: webserver
spec:
  replicas: {{ .replicas }}
  selector:
    matchLabels:
      app: oneevent
      component: webserver
  template:
    metadata:
      labels:
        app: oneevent
        component: webserver
    spec:
      containers:
        - name: webserver
          image: "{{ .image }}"
          imagePullPolicy: Always
          envFrom:
            - configMapRef:
                name: {{ $.Values.db.credentials.secretName }}
          env:
            {{- with .hostnames }}
            - name: ALLOWED_HOSTS
              value: {{  join "," . }}
            {{- end }}
            {{- range .socialAuths }}
            - name: {{ .name }}_KEY
              value: "{{ .key }}"
            - name: {{ .name }}_SECRET
              value: "{{ .secret }}"
            {{- end }}
          ports:
            - name: http
              containerPort: 8000
          livenessProbe:
            httpGet:
              path: /ping/
              port: 8000
              {{- with .hostnames }}
              httpHeaders:
                - name: Host
                  value: "{{ first . }}"
              {{- end }}
          readinessProbe:
            httpGet:
              path: /ping/
              port: 8000
              {{- with .hostnames }}
              httpHeaders:
                - name: Host
                  value: "{{ first . }}"
              {{- end }}
      initContainers:
        - name: migrations
          image: "{{ .image }}"
          imagePullPolicy: Always
          envFrom:
            - configMapRef:
                name: {{ $.Values.db.credentials.secretName }}
          command: ["/bin/sh"]
          args:
            - "-c"
            - /usr/src/.venv/bin/python manage.py migrate --no-input

---
apiVersion: v1
kind: Service
metadata:
  name: webserver
spec:
  type: NodePort
  ports:
    - port: 80
      targetPort: http
      protocol: TCP
      name: http
  selector:
    app: oneevent
    component: webserver

{{- if .ingress.enabled }}
{{- if .ingress.tls.enabled }}
---
apiVersion: cert-manager.io/v1
kind: Certificate
metadata:
  name: ingress-tls
spec:
  dnsNames:
    {{- range .hostnames }}
    - "{{ . }}"
    {{- end }}
  issuerRef:
    kind: {{ .ingress.tls.issuer.kind }}
    name: {{ .ingress.tls.issuer.name }}
  secretName: {{ .ingress.tls.secretName }}
  duration: 2160h # 90d
  renewBefore: 720h # 30d
  usages:
    - digital signature
    - key encipherment
{{- end }}

---
apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: oneevent-webserver
spec:
  ingressClassName: traefik
  {{- if .ingress.tls.enabled }}
  tls:
    - hosts:
        {{- range .hostnames }}
        - "{{ . }}"
        {{- end }}
      secretName: {{ .ingress.tls.secretName }}
  {{- end }}
  rules:
    {{- range .hostnames }}
    - host: "{{ . }}"
      http:
        paths:
          - path: "/"
            pathType: Prefix
            backend:
              service:
                name: webserver
                port:
                  number: 80
    {{- end }}
{{- end }}
{{- end }}
