apiVersion: apps/v1
kind: Deployment
metadata:
  name: webserver
spec:
  replicas: {{ .Values.webserver.replicas }}
  selector:
    matchLabels:
      app: oneevent
      component: webserver
  template:
    metadata:
      labels:
        app: oneevent
        component: webserver
    spec:
      containers:
        - name: webserver
          image: "{{ .Values.webserver.image }}"
          imagePullPolicy: Always
          envFrom:
            - configMapRef:
                name: {{ .Values.db.credentials.secretName }}
          env:
            - name: ALLOWED_HOSTS
              value: {{  join "," .Values.webserver.hostnames }}
            {{- range .Values.socialAuths }}
            - name: {{.name}}_KEY
              value: "{{ .key }}"
            - name: {{.name}}_SECRET
              value: "{{ .secret }}"
            {{- end }}
          ports:
            - name: http
              containerPort: 8000
          livenessProbe:
            httpGet:
              path: /ping/
              port: 8000
              httpHeaders:
                - name: Host
                  value: "{{ first .Values.webserver.hostnames }}"
          readinessProbe:
            httpGet:
              path: /ping/
              port: 8000
              httpHeaders:
                - name: Host
                  value: "{{ first .Values.webserver.hostnames }}"
      initContainers:
        - name: migrations
          image: "{{ .Values.webserver.image }}"
          imagePullPolicy: Always
          envFrom:
            - configMapRef:
                name: {{ .Values.db.credentials.secretName }}
          command: ["/bin/sh"]
          args:
            - "-c"
            - /usr/src/.venv/bin/python manage.py migrate --no-input

---
apiVersion: v1
kind: Service
metadata:
  name: webserver
spec:
  type: NodePort
  ports:
    - port: 80
      targetPort: http
      protocol: TCP
      name: http
  selector:
    app: oneevent
    component: webserver

---
apiVersion: cert-manager.io/v1
kind: Certificate
metadata:
  name: ingress-tls
spec:
  dnsNames:
    {{- range .Values.webserver.hostnames }}
    - "{{ . }}"
    {{- end }}
  issuerRef:
    kind: ClusterIssuer
    name: letsencrypt-production
  secretName: ingress-tls
  duration: 2160h # 90d
  renewBefore: 720h # 30d
  usages:
    - digital signature
    - key encipherment

---
apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: oneevent-webserver
spec:
  ingressClassName: traefik
  tls:
    - hosts:
        {{- range .Values.webserver.hostnames }}
        - "{{ . }}"
        {{- end }}
      secretName: ingress-tls
  rules:
    {{- range .Values.webserver.hostnames }}
    - host: "{{ . }}"
      http:
        paths:
          - path: "/"
            pathType: Prefix
            backend:
              service:
                name: webserver
                port:
                  number: 80
    {{- end }}
